@import url('https://fonts.googleapis.com/css?family=Scope+One');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Scope One', serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: #333;
    overflow: hidden;
    border-radius: 20px;
}

.box .imgContainer, 
.box .about {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: 0.5s;
}

.box .imgContainer {
    top: 0;
    left: 0;
}

.box:hover .imgContainer {
    top: 0;
    left: -100%;
}

.box .imgContainer img {
    width: 100%;
}

.box .about {
    background: #333;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}

.box:hover .about {
    top: 0;
    left: 0;
}

.box .about h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;
}

.box .about {
    margin: 20px 0 0;
    color: #fff;
}